body {
  margin: 0;
}

.loading-indicator {
  width: 6vw;
  height: 12vh;
  margin-left: 45vw;
  margin-top: 35vh;
}

.nav-container {
  top: 13vh;
  width: 100%;
  position: fixed;
  text-decoration: none;
  display: block;
  overflow: hidden;
  background: white;
  z-index: 1;
  height: 12vh;
  padding-top: 3vh;
}

.nav-container-onscroll {
  top: 0;
  background-color: white;
  width: 100%;
  position: fixed;
  text-decoration: none;
  display: block;
  overflow: hidden;
  z-index: 1;
  height: 11vh;
  padding-top: 6vh;
}

.current-category-title {
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
  color: DimGray;
  position: absolute;
  margin-left: 4.3vw;
  z-index: 2;
  margin-top: -3vh;
}

.welcome {
  font-family: 'Playfair Display', serif;
  font-size: 2.3vh;
  color: DimGray;
  position: absolute;
  margin-left: 4.3vw;
  z-index: 2;
  margin-top: -3vh;
}