body {
  margin: 0;
}

.loading-indicator {
  background: white;
  width: 6vw;
  height: 12vh;
  margin-left: 45vw;
  margin-top: 35vh;
}

.current-category-title {
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
  color: DimGray;
  position: absolute;
  z-index: 2;
  margin-top: 2vh;
  left: 7.5vw;
}

.welcome {
  font-family: 'Playfair Display', serif;
  font-size: 2.3vh;
  color: DimGray;
  position: absolute;
  margin-left: 4.3vw;
  z-index: 2;
  margin-top: -3vh;
}